body{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

header{
  width: 100%;
  height: 100px;
  background-color: rgb(82, 162, 252);
  background-image: url('../img/pattern.png');
  background-repeat: repeat;
  background-size: contain;
}

#logo{
  width: 200px;
  height: 100px;
  background-image: url('../img/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}

main h1{
  margin-bottom: 0;
}

main .who, .data{
  color: grey;
  margin: 0;
}

main p .author{
  color: rgb(82, 162, 252);
}

main .data{
  font-size: 12px;
  margin-bottom: 20px;
}

.photo-description p{
  font-size: 12px;
}

.first-desc{
  margin-top: 0;
  margin-bottom: 0;
}

.second-desc{
  margin-top: 0;
}